@import './variables.scss';

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10%;

  .fast-links {
    margin-top: 10%;
    font-size: calc(10px + 3vmin);
    display: flex;
    flex-wrap: wrap;
    font-size: calc(10px + 2.5vmin);

    .button {
      margin: 2px;
    }

    .content {
      animation-delay: 6s;
    }

    .projects {
      animation-delay: 6.5s;
    }

    .work {
      animation-delay: 7s;
    }

    a {
      color: inherit;
    }

  }

}

.App-content {
  min-height: 100vh;
  padding-top: 10px;
  font-family: 'Fira Code, Ubuntu Mono, Consolas, source-code-pro, courier-new, courier, monospace',
}

.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: inherit;
    margin: 2px;
    flex-basis: 35%;
  }

  @media (max-width: $small-screen) {
    font-size: calc(10px + 5vmin);

    a {
      flex-basis: 20%;
    }
  }
}

.contact-card {
  display: flex;
  justify-content: center;
}

.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 10em;
  flex-grow: 1;

  @media (max-width: $small-screen) {
    max-width: 100%;
  }

  .tag {
    flex-basis: 10%;
    margin: 5px;
    background-color: #282c34;
    color: #ffffff;
    border-radius: 5px;
    font-size: calc(10px + 0.4vmin);
    padding: 3px;
  }
}

.content-header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: calc(10px + 3vmin);
  color: #ffffff;

  @media (max-width: $small-screen) {
    font-size: calc(10px + 6vmin);
  }

  a {
    color: inherit;
  }
}