@import './variables.scss';

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 5px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    max-width: 70%;

    @media (max-width: $medium-screen) {
        max-width: 90%;
    }

    .header {
        font-size: calc(10px + 2vmin);
        min-width: 8vmin;
        padding-top: 0.5em;

        @media (max-width: $small-screen) {
            width: 100%;
            font-size: calc(10px + 5vmin);
            padding-top: inherit;
            margin-bottom: 0.5em;
        }
    }

    .content {
        @media (max-width: $small-screen) {
            flex-grow: 1;
            margin-bottom: 0.5em;
        }
    }

    .footer {
        font-size: calc(10px + 2vmin);
        min-width: 8vmin;
        padding-left: 5px;
        padding-right: 5px;
        align-self: center;

        @media (max-width: $small-screen) {
            flex-grow: 1;
        }
    }

}