@import './variables.scss';

.company-card {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        box-shadow: rgba(93, 124, 154, 0.5) 0 1px 10px;
        padding: 24px;
        border-radius: 3px;
        max-width: 240px;

        @media (max-width: $small-screen) {
            margin: 0.5em;
            flex-grow: 1;
            margin-bottom: 0.5em;
        }
    }

    .logo {
        img {
            height: 80px;
            max-width: 140px;
        }
    }

    .timeset {
        font-size: 12.8px;
        font-weight: 400;
        text-transform: uppercase;
        color: #999999;
    }

    .location {
        margin-bottom: 10px;
        font-size: 14.54545px;
        font-weight: 300;
        font-style: italic;
    }
}